# Python
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.venv/
venv/
env/

# VS Code
.vscode/

# Streamlit (si tu utilises des secrets)
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log